:root {
  --nodeSize: 0px;
  --leftMargin: 0px;
  --nodeLeftMargin: 1px;
  --nodeTopMargin: 0px;
  --nodeBottomMargin: -5px;
  --nodeRightmargin: 0px;
}

.GridContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;

}

.Grid {
  display: flex;

  flex-direction: column;

  align-self: center;
  justify-self: center;

  border-top: 2px solid rgb(35, 57, 91);
  border-right: 2px solid rgb(35, 57, 91);
  border-left: 1px solid rgb(35, 57, 91);
  border-bottom: 1px solid rgb(35, 57, 91);
}

.Node {
  margin-left: var(--nodeLeftMargin);
  margin-top: var(--nodeTopMargin);
  margin-bottom: var(--nodeBottomMargin);
  margin-right: var(--nodeRightmargin);
  width: var(--nodeSize);
  height: var(--nodeSize);
  box-shadow: 0px 0px 0px 1px rgb(35, 57, 91);
  display: inline-block;
}

.VisitedNode {
  margin-left: var(--nodeLeftMargin);
  margin-top: var(--nodeTopMargin);
  margin-bottom: var(--nodeBottomMargin);
  margin-right: var(--nodeRightmargin);
  width: var(--nodeSize);
  height: var(--nodeSize);
  box-shadow: 0px 0px 0px 1px rgb(38, 63, 100);
  background-color: rgba(118, 218, 221, 0.8);
  display: inline-block;

  animation-name: Visited;
  animation-duration: 300ms;
}

.VisitedNodeNoAnim {
  margin-left: var(--nodeLeftMargin);
  margin-top: var(--nodeTopMargin);
  margin-bottom: var(--nodeBottomMargin);
  margin-right: var(--nodeRightmargin);
  width: var(--nodeSize);
  height: var(--nodeSize);
  box-shadow: 0px 0px 0px 1px rgb(38, 63, 100);
  background-color: rgba(118, 218, 221, 0.8);
  display: inline-block;
}

.ShortestPathNode {
  position: relative;
  margin-left: var(--nodeLeftMargin);
  margin-top: var(--nodeTopMargin);
  margin-bottom: var(--nodeBottomMargin);
  margin-right: var(--nodeRightmargin);
  width: var(--nodeSize);
  height: var(--nodeSize);
  box-shadow: 0px 0px 0px 1px rgb(38, 63, 100);
  background-color: rgb(250, 248, 108);
  display: inline-block;

  z-index: 9 !important;

  animation-name: ShortestPath;
  animation-duration: 100ms;
}

.ShortestPathNodeNoAnim {
  position: relative;
  margin-left: var(--nodeLeftMargin);
  margin-top: var(--nodeTopMargin);
  margin-bottom: var(--nodeBottomMargin);
  margin-right: var(--nodeRightmargin);
  width: var(--nodeSize);
  height: var(--nodeSize);
  box-shadow: 0px 0px 0px 1px rgb(38, 63, 100);
  background-color: rgb(250, 248, 108);
  display: inline-block;

  z-index: 9 !important;
}

.WallNode {
  margin-left: var(--nodeLeftMargin);
  margin-top: var(--nodeTopMargin);
  margin-bottom: var(--nodeBottomMargin);
  margin-right: var(--nodeRightmargin);
  width: var(--nodeSize);
  height: var(--nodeSize);
  box-shadow: 0px 0px 0px 1px rgb(21, 61, 107);
  background-color: rgb(21, 61, 107);
  display: inline-block;
}

@keyframes Visited {
  from {
    background-color: rgba(100, 151, 209, 0.8);
    border-width: 0;
  }

  to {
    border-width: 100%;
    background-color: rgba(118, 218, 221, 0.8);
  }
}

@keyframes ShortestPath {
  from {
    background-color: rgba(118, 218, 221);
  }

  to {
    background-color: rgb(250, 248, 108);
  }
}

.StartNode {
  margin-left: var(--nodeLeftMargin);
  margin-top: var(--nodeTopMargin);
  margin-bottom: var(--nodeBottomMargin);
  margin-right: var(--nodeRightmargin);
  width: var(--nodeSize);
  height: var(--nodeSize);
  box-shadow: 0px 0px 0px 1px rgbrgb(21, 61, 107);
  /* background-color: rgb(16, 196, 139); */
  display: inline-block;
  cursor: grab;
}

.inside-end {
  position: relative !important;
  background-color: rgb(216, 30, 91) !important;
  border-radius: 50%;
  width: 20px !important;
  height: 20px !important;
  left: 2px !important;
  top: 2px !important;
  cursor: grab;
}


.EndNode {
  margin-left: var(--nodeLeftMargin);
  margin-top: var(--nodeTopMargin);
  margin-bottom: var(--nodeBottomMargin);
  margin-right: var(--nodeRightmargin);
  width: var(--nodeSize);
  height: var(--nodeSize);
  box-shadow: 0px 0px 0px 1px rgb(21, 61, 107);
  /* background-color: rgb(216, 30, 91); */
  display: inline-block;
  cursor: grab;
}

.inside-start {
  position: relative !important;
  background-color: rgb(10, 197, 57) !important;
  border-radius: 50%;

  width: 20px !important;
  height: 20px !important;
  left: 2px !important;
  top: 2px !important;
  cursor: grab;
}