/* .PathFindingVisualizer {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content:center;
} */

.PathFindingVisualizer {
  width:100%;

  position:fixed;

  bottom:0px;

  text-align:center;
}
